import { html, LitElement } from 'lit';
import { customElement } from 'lit/decorators.js';

@customElement('kami-{{lowerCase name}}')
export default class Kami{{pascalCase name}} extends LitElement {
  protected render() {
    return html`
      <h1>{{lowerCase name}}</h1>
    `;
  }
}
