<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Example</title>
  <script type="module" crossorigin src="/assets/counter.5ff1e7ed.js"></script>
  <link rel="modulepreload" href="/assets/vendor.2a8d4232.js">
  <link rel="modulepreload" href="/assets/kami-component.8dc500b2.js">
</head>
<body>
    <div>Set counter at :</div>
    <input id="update" type="number">
    <counter-exemple id="counter"></counter-exemple>
</body>


<script>
    window.onload = () => {
        const updateInput = document.querySelector('#update');
        const counter = document.querySelector('#counter');
        updateInput.addEventListener('change', () => {
            counter.setAttribute('counter', updateInput.value);
        });  
    }
</script>
</html>