<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Example</title>
  <script type="module" crossorigin src="/assets/drawing.eba15a2b.js"></script>
  <link rel="modulepreload" href="/assets/vendor.2a8d4232.js">
  <link rel="modulepreload" href="/assets/kami-component.8dc500b2.js">
  <link rel="stylesheet" href="/assets/drawing.2846df17.css">
</head>
<body>
    
    <drawing-exemple color="green"></drawing-exemple>
</body>

</html>