* {
    padding: 0;
    margin: 0;
}

.turbo-progress-bar {
    height: 5px;
    background-color: #35d1cf;
}

kami-theme:not(:defined) {
    opacity: 0;
}

.playground {
    min-height: calc(100vh - 125px);
}